<!DOCTYPE html>
<html lang="en">
<<<<<<< HEAD

<head>
  <title>Profile</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/profile.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/maps.js"></script>

  <% include partials/nav %>
</head>

<body>  
  <div class="map-list">
    <ul>
      <% maps.forEach(map => { %>
          <li>
              <a href="/maps/<%= map.id %>"><%= map.title %></a>
              <p><%= map.description %></p>
          </li>
      <% }); %>
  </ul>
  </div>
  <div class="favourites">
    <ul>
      <% favourites.forEach(favourite => { %>
        <li>
          <a href="/maps/<%= favourite.id %>"><%= favourite.map_id %></a>
        </li>
      <% }); %>
    </ul>
  </div>
  <div class="contributed">
    <ul>
        <% contributedMaps.forEach(map => { %>
            <li>
                <a href="/maps/<%= map.id %>"><%= map.title %></a>
            </li>
        <% }); %>
    </ul>
</div>
</body>
</html>
=======
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Leaflet with NPM</title>
    <link rel="stylesheet" href="/styles/profile.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="/vendor/jquery-3.0.0.js"></script>
    <script src="/scripts/profile.js" defer></script>
  </head>
  <body>
    <section id="profile-container">
      <div id="allmaps-container">
        <h2>All Maps</h2>
        <ul id="maps-list"></ul>
      </div>
      <div id="favourites-container">
        <h2>Favourites</h2>
        <ul id="favourites-list"></ul>
      </div>
      <div id="contributed-container">
        <h2>Contributed To</h2>
        <ul id="contributed-list"></ul>
      </div>
      <div id="created-container">
        <h2>Created</h2>
        <ul id="created-list"></ul>
      </div>
    </section>

    <form id="create-map-form">
      <p id="no-name-error" class="hidden">You must add a name!</p>
      <input
        id="new-map-name"
        name="name"
        type="text"
        placeholder="new map name"
      />
      <textarea
        id="new-map-desc"
        name="description"
        type="text"
        placeholder="description"
      ></textarea>
      <button id="create-map-btn">Create New Map</button>
    </form>
  </body>
</html>
>>>>>>> 3f2ebf181a8bea14783303269b1915a3c3189236
